/* Optimise pour ecrans 16:9 ou 16:10
    By: Mohamed AAROUS
*/

html, body {
    /* supprimer les espaces none necessaires */
    margin: 0;padding:0;
    /*background: #0f1924;*/
    background-color:#000;
    
}

#backgroundimage {
    position: absolute;
    background-color:#000;
    background-image: url('/img/pEeUsp1.jpg');
    background-attachment: fixed;
    background-size: cover;
    animation-name: load_back;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity:0;
    top:0;
}

/* separateurs horizontals */
hr {
    border: 0.5px solid #bdbab7;
}

.rock {
    position: absolute;
    z-index: 1;
    background-size: contain;
}

#rock1 {
    height:300px;
    width:300px;
    background-image:url('/img/rock.png');
    top:50%;
    animation-name: rock_left;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#rock2 {
    height:280px;
    width:318px;
    background-image:url('/img/rocktropiaHD.png');
    top:75%;
    right:0;
    transform: scaleX(-1);
    z-index: 0;
}

/* ----------------8<-------------[ Nav! ]---------------------------- */

/* bar de navigation*/
nav {
    margin:50px;
}

/* titre */
h1 {
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    color: #ffffe6;
}

/* buttons navigation */
#social, #contact_info {
    opacity: .7;
    transform: rotate(5deg);
    transition: 1s;
}

#ulnav, h1 {
    opacity: .7;
    transform: rotate(-5deg);
    width:5%;
    transition: 1s;
}

/* person. buttons */
#ulnav li {
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color:#FFF;
}
#page00 span {
    float:left !important;
    color:#FFF !important;
}

#page01 {}

/* numero de contact / email */
nav span{
    font-size: 17px;
    color: #37cc90;
    font-weight: bolder;
    float:right;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
}

/* animation */

#ulnav:hover, #social:hover, nav span:hover{
    transition: .2s;  
    opacity: 1;
}

#ulnav:not(:hover), #social:not(:hover){
    transition: 1s;  
    opacity: .7;
}

/* ----------------8<-------------[ Section! ]------------------*/

/* corps / projet */
section {
    background:#010101;
    /*background: transparent;*/
    width: 800px;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #bdbab7;
    display: inline-block;
    position: relative;
    left:50%; 
    transform: translateX(-50%); 
    box-shadow: #111 0 0 5px;
}

/* Personn. projets */
.boxes {
    background:#5c7d9b;
    width:380px;
    border-radius:3px; 
    float:left;
    margin:10px;
    position: relative;
    box-shadow: #111 0 0 5px;

}

/* animation hover sur les boxes */
.boxes:hover .boxnav{
    border-bottom: 5px solid #37cc90;
    transition: .25s;

}

.boxes:not(:hover) .boxnav{
    border-bottom: 0 solid transparent;
    transition: 1s;
}

/* les deux projets recents */
.boxes.premier {
    background-image: url('/img/proj1.png'); /* image fond */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 350px;
}

.boxes.deux {
    background-image: url('/img/Flatyicons.png'); /* image fond */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 350px;
}

/* le reste */
.reste {
    height:75px;
}

/* le reste nav */
.reste > .boxnav {
}

/* nav bar de chaque projet */
.boxnav {
    background: #111;
    position:absolute;
    bottom: 0;
    width:100%;
    height: 50px;
    border-radius:0 0 3px 3px; 
    display: flex; /* flex box parceque j'aime bien :D! */ 
    justify-content: space-between;
}

/* texte de chaque projet */
.boxnav p {
    color:#DFDFDF;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
    line-height: 50px;
    margin:0;
    flex: 0 1 auto;
}

.boxnav p:first-child{
    margin-left:10px;
}

/* Small description */
.sdesc{
    font-size: 10px;
    padding:3px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    margin-left: 2px;
    line-height: 50px;
    vertical-align: middle;
    border-radius: 3px;
}

p > .sdesc {
    text-align: right;
}

p > .sdesc:last-child {
    margin-right:10px;
}

.sdesc.icon {background-color:#ff9914;}
.sdesc.app {background-color:#29bf12;}
.sdesc.pub {background-color:#f21b3f;}
.sdesc.site {background-color:#08bdbd;}

/* span light */
.light {
    font-weight: 10;
    font-size: 18px;
}

/* ----------------8<-------------[ Reseaux sociaux! ]------------------*/
#social {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    width: 100%;
}

#social li:first-child {
    color: #37cc90;
    font-weight: bold;
    text-transform: uppercase;
}

#social ul {
    width:200px;
    float: right;
    border-left: 5px solid #37cc90;
    padding-left:0px;
    border-radius: 2px;
    padding:0px;
}

#social li {
    padding:10px;
}

/* Petite animation ;) */

#ulnav li:hover, #social li:hover {
    text-shadow: 0 0 10px aquamarine;
    transition: .75s;
}

/* ----------------8<-------------[ footer! ]------------------*/

 /* footer */
footer {
    color: #dfdfdf;
    height:75px;
    background:#010101;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-top:20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #dfdfdf;
    box-shadow: 0 -1px 1px #000;
}

footer > div {
    flex: 1 1 auto;
    text-align: center;
}

footer span {
    padding: 10px 0;
}

.left_right_space {
    padding-left: 10px;

}

#line_breaker {
}
/* !!!!!!!!!!!!!!!!!! Attention code Globale !!!!!!!!!!!!!!!*/
ul li {
    list-style: none;
    font-weight: normal;
    color:#eee;
    font-size: 16px;
    text-transform: initial;
}

/* ----------------8<-------------[ Animation @key! ]------------------*/

@keyframes load_back {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rock_left {
    from {
        left: -500px;
    }

    to {
        left: 0;
    }
}